[submodule "PerformanceTest/StressTest"]
	path = PerformanceTest/StressTest
	url = https://github.com/FS2017GeospatialDB/StressTester.git
	branch = master
[submodule "PerformanceTest/ScalabilityTest"]
	path = PerformanceTest/ScalabilityTest
	url = https://github.com/FS2017GeospatialDB/ScalabilityTester.git
	branch = master
[submodule "ClientWebApp"]
	path = ClientWebApp
	url = https://github.com/FS2017GeospatialDB/ClientWebApp.git
	branch = master
[submodule "DataLoader"]
	path = DataLoader
	url = https://github.com/FS2017GeospatialDB/DataLoader.git
	branch = master
