[submodule "s2-geometry-library"]
	path = s2-geometry-library
	url = https://github.com/huhwang/s2-geometry-library.git
[submodule "WebAppGeospatial"]
	path = WebAppGeospatial
	url = https://github.com/twalker1464/WebAppGeospatial.git
[submodule "load_big_data/loader"]
	path = load_big_data/loader
	url = https://github.com/huhwang/GeospatialCassLoader.git
