#mapContainer {
  width: 100%;
  height: 100%;
  position: fixed;
}

#map {
  width: 100%;
  height: 100%;
}

.withPadding {
  padding: 20px;
}

.nav-tabs {
  background-color: #3BAFDA;
}

.smallPadding {
  padding: 1px;
}

.toggleDiv {
  display: flex;
  align-items: center;
}

.form-group label{
//  float: left;
//  display: inline-block;
//  padding-left: 10px;
//  padding-right: 10px;
//  padding-top: 2px;
//  padding-bottom: 2px;
  width: 100%;
//  height: 34px;
}

.fullwidth {
//  display: inline-block;
  width: 100%
}
